html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #f8fafc;
}

/*=====================
    1.home
    ==========================*/
.bg {
    width: 100%;
    height: 100vh;
    //padding: 256px 30px 26px;
    background-image: linear-gradient(153deg, #712bda, #a45deb 100%);
}

.logo-music {
    position: absolute;
    width: 100%;
    text-align: center;
    text-align: -webkit-center;
    text-align-last: center;
    top: 20%;

    img {
        width: auto;
        height: 150px;
    }
}

.box-search {
    position: absolute;
    bottom: 0;
    padding: 50px;
    width: 100%;
    text-align: center;
    text-align: -webkit-center;
    text-align-last: center;

    .searchInput {

        .search {
            display: block;
            width: 40%;
            padding: 8px 16px;
            line-height: 25px;
            font-size: 14px;
            font-weight: 500;
            font-family: inherit;
            border-radius: 20px;
            -webkit-appearance: none;
            border: 1px solid #CDD9ED;
            transition: border .3s ease;
            &::placeholder {
                color: #CBD1DC;
            }
            &:focus {
                outline: none;
                border-color: #275EFE;
            }
        }
    }

    .searchButton {

        .button {
            width: 40%;
            height: 40px;
            margin: 15px 0 0;
            color: #ffffff;
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid #cdd9ed00;
        }
    }
}

/*=====================
    2.search
    ==========================*/

.header {
    width: 100%;
    height: 100px;
    border-radius: 0 0 45% 45%;
    padding: 18px 15px 22.2px;
    box-shadow: 0 0 6px 0 rgba(148, 77, 230, 0.75);
    background-image: linear-gradient(100deg, #712bda, #a45deb 100%);
    display: flex;

    .menu {
        display: none;
    }

    .title {
        width: 55%;
        color: white;

        h1 {
            float: right;
        }
    }

    .indicator {
        width: 40%;

        img {
            float: right;
            width: auto;
            height: 40px;
            object-fit: scale-down;
        }
    }
}

.body-result {
    margin: 30px;
    width: 95%;
    text-align: center;
    text-align: -webkit-center;
    text-align-last: center;

    .result {

        .result-text {
            font-family: Roboto;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.5px;

            span {
                color: #7b34dd;
                font-weight: bold;
                font-size: 22px;
            }
        }
    }

    .box-result {

        .list {
            font-family: Roboto;

            .box{
                width: 500px;
                height: 150px;
                margin: 36px 15px 20px;
                padding: 12px 12px 11px 10px;
                border-radius: 10px;
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
                background-color: #ffffff;
                display: flex;

                .image-song{
                    width: 30%;

                    img {
                        width: auto;
                        height: 100%;
                        border-radius: 7px;
                    }
                }

                .detail-song {
                    width: 70%;
                    text-align: left;
                    text-align: -webkit-left;
                    text-align-last: left;

                    .artistName {
                        font-weight: 500;
                        font-size: 14px;
                    }

                    .trackCensoredName {
                        font-weight: bold;
                        font-size: 17px;
                        margin-bottom: 40px;
                    }

                    .icon {
                        display: flex;

                        .primaryGenreName {
                            width: 50%;

                            span{
                                background-color: #10b981;
                                padding: 2px 7px;
                                border-radius: 10px;
                                color: white;
                                font-size: 14px;
                            }
                        }

                        img {
                            width: auto;
                            height: 17px;
                            object-fit: scale-down;
                            margin-top: 4px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}